*.pyc
.tox/
*.db
*.htm
*TODO*
*.csv
*.yml
*.yaml
samples/*
data/*
*.txt
tests/fixtures
*.sf
sqlitefid/*
pathlesstaken/*
tar-package/*
venv/
*.htm
*.html
dist/*
src/demystify_digipres*
node_modules/*
package*
