[submodule "sqlitefid"]
	path = src/demystify/sqlitefid
	url = https://github.com/exponential-decay/sqlitefid
[submodule "pathlesstaken"]
	path = src/demystify/pathlesstaken
	url = https://github.com/exponential-decay/pathlesstaken
