[blacklist]

#e.g. False or C:\Documents and Settings\spencero\Desktop\test-empty-folders\folder-becomes-empty-one-file\thumbs.db
#e.g. files we haven't a PUID for yet.
filepaths=False

#e.g. False or list of PUIDS, fmt/682,fmt/111
ids=fmt/111,fmt/682,fmt/394,x-fmt/409,x-fmt/410,x-fmt/411,fmt/688,fmt/689,fmt/690,fmt/691,fmt/468,fmt/473,fmt/474,fmt/503,fmt/523,fmt/819,x-fmt/157,x-fmt/418,x-fmt/419,x-fmt/428,x-fmt/429,x-fmt/453,application/x-sh,application/vnd.ms-tnef,application/x-stuffit,application/x-pak,application/x-mswinurl,application/x-executable,x-fmt/263,x-fmt/266

filenames='.DS_Store','Untitled Document','desktop.ini','(copy','ZbThumbnail.info'

directorynames='Untitled Folder','New Folder','(copy','.git'

fileextensions='.ini','.exe','.cfg','.dll'

[rogues]

#e.g. where there is more than one file for a single checksum
#e.g. output duplicate checksums? = False = NO
duplicatechecksums=True
pronomonly=True
blacklist=True
nonasciifilenames=True
nonasciidirs=False
zerobytefiles=True
multipleids=True
extensionmismatches=True

#Blacklist Notes on Potentual Blacklist PUIDS
#Observed @ArchivesNZ as files that may need further triage
#fmt/682 - Thumbs.db
#fmt/468 - ISO Image
#fmt/394 - .DS_Store
#fmt/111 - OLE2
#fmt/473 - MS Office Container
#fmt/474 - MS Office Help
#fmt/503 - Macintosh Resource Fork
#fmt/523 - Macro Enabled OOXML
#fmt/819 - CDROM/XA
#x-fmt/157 - interchange file
#x-fmt/418 - icon file
#x-fmt/419 - DVD data file
#x-fmt/428 - windows shortcut
#x-fmt/429 - web archive
#x-fmt/453 - truetype font
#application/x-sh - shell file
#application/vnd.ms-tnef - transport neutral encapsulation format (Microsoft)
#application/x-stuffit - stuffit archive
#application/x-pak - PAK archive
#application/x-mswinurl - internet shortcut
#application/x-executable - executable file
#x-fmt/263 - zip
#x-fmt/266 - gzip